body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
}

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.visually-hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    border: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}






.conteiner-services-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.services-icon {
    width: 64px;
    height: 64px;
}




/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}



/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    left: 0;
    bottom: -1px;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}



.contacts-link {
    padding: 24px 0;
    display: block;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

/* hero */

.hero {
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 188px 0;
    background-image:
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),

        url(../images/background/people-office.jpg);


}

.hero-title {
    margin: auto;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-button {
    color: #ffffff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover {
    background-color: #404BBF;
    cursor: pointer;
}

.hero-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* service */

.services {
    padding: 120px 0;
    margin: auto;
}

.services-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.services-list {
    display: flex;
    gap: 24px;
}

.services-item {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: calc((100% - 72px) / 4);
}

.services-subtitle {
    margin-bottom: 8px;

    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.services-text {}

/* team */

.team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 72px;
    font-weight: 700;


}

.team-list {
    display: flex;
    gap: 24px;

}

.team-item {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);



}

.team-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.team-name {
    padding: 32px 0;

}

.social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.social-media-items {
    width: 40px;
    height: 40px;
   
    
}

.social-media-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
    
}

.social-media-icon {
    
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #404bbf;
}

/* portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.portfolio-card {

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-show-text {
    position: relative;
    overflow: hidden;
}

.portfolio-hiden-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
}

.portfolio-item:hover .portfolio-hiden-text {
    transform: translateY(0);
}

/* footer */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-part {
    color: #f4f4fd;

}

.footer-text { 
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;


}
.footer-social-media {
width: 208px;


}

.footer-social-text{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    }

    .footer-box {
        margin-right: 120px}

.footer-social-icons {
        display: flex;
        gap: 16px;
        }

 
 
.footer-social-items{ 
    width: 40px;
    height: 40px;
    
}
.footer-social-link { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;

}
          
.footer-social-icon { }

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}


